@use "../base/variables" as *;

.header {
  color: $dark-color;
  font-size: 1px;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  background: rgba(255 ,255, 255, 0.1);
  border-bottom: 1px solid $border
}

.headerbox {
  
  margin: 0 auto;
  padding: 1.5rem
}



.header__nav {
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
     @media (max-width:750px) {
    display: none;
  }

  ul {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  li {
    font-size: .825rem;
    padding:0.5rem 1rem;
    border-radius: 50px;
    border: 1px solid rgba(255 ,255, 255, 0.5)


  }
}



.navHamburg_box {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
  }

  span:nth-child(3) {
    margin-bottom: 0;
  }
}

.header.scrolled {
  .header__nav,
  #logo {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }

  .navHamburg {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.nav--full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:#fff;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    text-align: center;
  }

  li {
    margin: 20px 0;
  }

  a {
    font-size: 40px;
  }

  &.is-open {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

body.menu-open {
  .nav--full {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
