// color
$dark-color: #0b0b0b;
$text-light: #ffffff;
$point-color: #9bcb4f;
$background:#050505;
$border:#EBEBF5;
$green:#4ABA8A;
$purple:#7B6FE8;

// font-size
$text-sm:.825rem;

/* font-family */
$font-main: "Montserrat", sans-serif;
$font-kr:
  "Pretendard",
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  sans-serif;
