// color
$dark-color: #0b0b0b;
$text-light: rgb(246, 246, 247);
$point-color: #4ABA8A;
$background:#050505;
$border:#6a6a6a;
$green:#4ABA8A;
$green-light: #E1F5EE;
$purple:#7B6FE8;
$purple-light: #EEEDFE;
$bg-soft: #FAFAF9;
$text-secondary: #666;

// font-size
$text-sm:.825rem;

/* font-family */
$font-main: "Montserrat", sans-serif;
$font-kr:
  "Pretendard",
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  sans-serif;
