@use "../base/variables" as *;


body {
  font-family: $font-kr;
  letter-spacing: 1.5px;
  background-color: $dark-color;
  color: $text-light;
}

.wrap {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.container {
  width: min(1200px);
  margin: 0 auto;
}

section {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.point {
  color: $point-color;
}
